---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import RecentPosts from '../components/RecentPosts.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="LangChain Learning Journey - From Beginner to Expert">
  <Header />
  <main>
    <Hero />
    <RecentPosts />
  </main>
  <Footer />
</Layout>